.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 2px;
  flex-grow: 1;
  overflow-y: auto; /* ATENÇÃO: Isso faz apenas os livros rolarem */
  height: 100vh;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  background-color: #1e1e1e;
}

.book-card h2 {
  margin: 0;
  font-size: 1.2em;
  padding: 10px 0;
}

.book-card p {
  margin: 5px 0;
  font-size: 1em;
}

.btn-container {
  align-items: flex-end;
  margin-top: auto;
  padding: 5px 10px;
}

.btn-container button {
  padding: 5px;
  font-size: 0.9em;
  cursor: pointer;
  border: solid;
  border-radius: 10px;
}
h1 {
  margin: 0;
  font-size: 2em;
  text-align: center;
}
